
{% extends "base.html" %}
{% block title %}1{% endblock %}
{% block content %}
<body>
  <link rel="stylesheet" href="s.css">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
  <div class="cp">
    <header class="header">
      <center><h1 class="headline">Campus placer times</h1></center>
      <center><h2 class="subheadline">All the recent updates</h2></center>
    </header>

    <article class="article">
      <h2 class="article-title">"Decoding TCS: A Roadmap to Excelling in Your Career Journey"</h2>
      <p class="article-content">In a significant development for the employment landscape, Tata Consultancy Services (TCS), a global leader in the IT sector, has officially announced its plans to hire an impressive 40,000 professionals over the next year. This bold move is indicative of TCS's commitment to meeting the escalating demands in the technology industry and presents a substantial opportunity for job seekers across various domains.</p>
      <p class="article-content">TCS's expansive hiring initiative is not limited to a particular sector; it encompasses a broad spectrum of roles, including but not limited to software developers, data scientists, and project managers.. Interested candidates can explore available positions on the official TCS careers website, which provides comprehensive job descriptions, application procedures, and relevant contact information.</p>
      <p class="article-content">As TCS prepares to welcome 40,000 new team members, this announcement brings a ray of hope for job seekers and professionals aspiring to be part of a dynamic and innovative workplace.</p>
      
      
    </article>

    
  </div>
</body>
{% endblock %}