{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<body>
  
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="CSS" href="{{url_for('static',filename='style.css')}}">
    
    
    
    <div>
        <div id="cm" >
            <div id="left", style="width:80% ;float: left;">
            <main style="background-color: #c8f1f5;">
              <section class="ho">
                <div class="description" >
                  <h1 class="title">
                    <span class="gradient-text">Get Placed</span> with Us
                  </h1>
                  <p class="paragraph">
                    Unlock your future: Elevate dreams through our Campus Placement System
                  </p>
                  
                    
                      <a href="#" color="white"><span>Towards Future</span></a>
                      <ion-icon name="arrow-forward-outline"></ion-icon>
                   
                </div>
            
                <div class="users-color-container ">
                  <span class="item" style="--i: 1;"></span>
                  <img
                    class="item"
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/274f29ce-0d3f-4ac2-a2aa-f9b7bd188b2a"
                    style="--i: 2"
                    alt="" />
                  <span class="item" style="--i: 3"></span>
                  <img
                    class="item"
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/b8a14493-3d9f-4b9b-b93a-56d0bc7243e9"
                    style="--i: 4"
                    alt="" />
            
                  <img
                    class="item"
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/03e51e1e-9750-45a5-b75e-a1e341d4562a"
                    style="--i: 10"
                    alt="" />
                  <span class="item" style="--i: 11"></span>
                  <img class="item" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/5eb50f89-3e5a-480e-860c-8d40d3ba9ffe" style="--i: 12" alt="" />
                  <span class="item" style="--i: 5"></span>
            
                  <span class="item" style="--i: 9"></span>
                  <img class="item" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/86c71a79-2efe-4567-8665-b1e5a1fd9735" style="--i: 8" alt="" />
                  <span class="item" style="--i: 7"></span>
                  <img class="item" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/97ef9643-5202-41aa-80f0-ceeabccdd099" style="--i: 6" alt="" />
                </div>
              </section>
              <div class="co">
                <h1>Our Services</h1>
                <div class="ro">
                  <div class="service">
                    <i class="fas fa-laptop-code"></i>
                    <h2>Placement</h2>
                    <p>
                      Transforming careers, one placement at a time. Your success begins!
                    </p>
                  </div>
                  <div class="service">
                    <i class="fas fa-chart-line"></i>
                    <h2>Internship Opportunities</h2>
                    <p>
                      Facilitating access to valuable internship experiences.
                    </p>
                  </div>
                  <div class="service">
                    <i class="fab fa-sketch"></i>
                    <h2>Skill Development</h2>
                    <p>
                      Assisting candidates in enhancing relevant skills for job roles.
                    </p>
                  </div>
                  <div class="service">
                    <i class="fas fa-database"></i>
                    <h2>Industry Insights</h2>
                    <p>
                      Providing information about market trends and industry expectations.
                    </p>
                  </div>
                  <div class="service">
                    <i class="fas fa-mobile-alt"></i>
                    <h2>Job Matching</h2>
                    <p>
                      Connecting candidates with suitable job opportunities.
                    </p>
                  </div>
                  <div class="service">
                    <i class="fas fa-file-invoice"></i>
                    <h2>Post Placement Support</h2>
                    <p>
                      Offering assistance after placement for a smooth transition.
                    </p>
                  </div>
                  
                  <div class="service">
                    <i class="fas fa-network-wired"></i>
                    <h2>Employer Networking</h2>
                    <p>
                      Connecting candidates with a network of potential employers.
                    </p>
                  </div>
                </div>
              </div>
        
        
              
            </main>
            
            </div>
            <div id="right" style="width: 20%; float: right;background-color: #c8f1f5; display: inline-block; box-sizing: border-box; min-height: 1px; padding-left: 20px; ">
              <div class="news">
                <h1 style="text-align: center;">News</h1>
              </div>
              <div >
                <ul>
                <li><a href="/1" style="display: block; color: black;" class="c">Decoding TCS: A Roadmap to Excelling in Your Career Journey</a></li></ul>
                <ul><li><a href="/2" style="display: block; color: #000"; class="c">Unlocking Opportunities: Mastering the Infosys Job Landscape</a></li></ul>
                <ul><li><a href="/3" style="display: block;color: #000;" class="c">Cracking the TCS Code: Your Blueprint for Career Excellence</a></li></ul>
                <ul><li><a href="/4" style="display: block;color: #000;" class="c">Landing Your Dream Job: A Deep Dive into Campus Placements</a></li></ul>
                <ul><li><a href="/5" style="display: block;color: #000;" class="c">Dream Career Awaits: Apple's High-Paying Jobs Pave the Path to Professional Excellence</a></li></ul>
                <ul><li><a href="/6" style="display: block;color: #000;" class="c">Meta's Metamorphosis: Crafting Dream Careers with Lucrative Opportunities</a></li></ul>
                <ul><li><a href="/7" style="display: block;color: #000;" class="c">Fortunes Await: Amazon's High-Paying Opportunities in the Wealthiest Corporate Realm</a></li></ul>
                <ul><li><a href="/8" style="display: block;color: #000;" class="c">Unveiling Opportunities: High-Paying Careers in Netflix, the Crown Jewel of Corporate Wealth</a></li></ul>
                <ul><li><a href="/9" style="display: block;color: #000;" class="c">Accenture's Career Canvas: Navigating High-Potential Opportunities in a Global Innovation Hub</a></li></ul>
                <ul><li><a href="/10"style="display: block;color: #000;" class="c">Microsoft's Career Spectrum: Where Ambitions Transform into Achievements</a></li>
                </ul>
            </div>
            
            </div>
            </div>
            <div style="padding-bottom: 200px;">
                <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <div class="ne"  id="ourclients"  >
                <h1>Registered employers</h1>
                  <div class="clients-wrap" style="padding: 20 0 0 0;">
                    <ul id="clientlogo" class="clearfix">
                      <li>
                        <img src="{{url_for('static',filename='accenture.png')}}" alt="Logo" style="aspect-ratio: 3/2; object-fit: contain; mix-blend-mode:color-burn;">
                      </li>
                      <li>
                        <img  src="{{url_for('static',filename='apple.png')}}"alt="Logo" style="aspect-ratio: 3/2;object-fit: contain; mix-blend-mode: color-burn;">
                      </li>
                      <li>
                        <img src="{{url_for('static',filename='microsoft.png')}}" alt="Logo" style="aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: color-burn;">
                      </li>
                      <li>
                        <img src="{{url_for('static',filename='tcs.png')}}" alt="Logo" style="aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: color-burn;">
                      </li>
                      <li>
                        <img src="{{url_for('static',filename='meta.png')}}" alt="Logo" style="aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: color-burn;">
                      </li>
                      <li>
                        <img src="{{url_for('static',filename='google.png')}}" alt="Logo" style="aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: color-burn;" >
                      </li>
                     <li>
                     </li>
                    </ul>
                  </div>
                </div>
        
            </div>
            </div>
</body>
    

    {% endblock %}