{% extends "base.html" %}
{% block title %}StudentLogin{% endblock %}
{% block content %}
<body>
    <body>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="testimonials">
                        <!-- Testimonial 1 -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="testi-content">
                                    <div class="rating-t">
                                        <span class="text-warning">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.693 1.144a1 1 0 0 1 1.214 0l3.572 2.27 1.43-.857a1 1 0 0 1 1.342 1.074l-.686 3.713 2.825 2.738a1 1 0 0 1-.553 1.705l-3.82.556-1.72 3.473a1 1 0 0 1-1.8 0l-1.72-3.473-3.82-.556a1 1 0 0 1-.553-1.705l2.825-2.738-.686-3.713a1 1 0 0 1 1.342-1.074l1.43.857 3.572-2.27a1 1 0 0 1 .478-.125 1 1 0 0 1 .736.342 1 1 0 0 1 .125.958l-1.292 3.35 2.943 2.858a1 1 0 0 1-.367 1.735l-3.892.566-1.734 3.496a1 1 0 0 1-1.794 0l-1.734-3.496-3.892-.566a1 1 0 0 1-.367-1.735l2.943-2.858-1.292-3.35a1 1 0 0 1 .125-.958 1 1 0 0 1 .736-.342z" />
                                            </svg>
                                        </span>
                                        <strong>Rohit Patel</strong>
                                    </div>
                                    <div class="testi-text">
                                        Campus Placer has revolutionized the internship search for students! The platform is
                                        incredibly user-friendly, and I found my dream internship within days. The variety of
                                        opportunities and the seamless application process make it a go-to for every student
                                        looking to kickstart their career.
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <!-- Testimonial 2 -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="testi-content">
                                    <div class="rating-t">
                                        <span class="text-warning">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.693 1.144a1 1 0 0 1 1.214 0l3.572 2.27 1.43-.857a1 1 0 0 1 1.342 1.074l-.686 3.713 2.825 2.738a1 1 0 0 1-.553 1.705l-3.82.556-1.72 3.473a1 1 0 0 1-1.8 0l-1.72-3.473-3.82-.556a1 1 0 0 1-.553-1.705l2.825-2.738-.686-3.713a1 1 0 0 1 1.342-1.074l1.43.857 3.572-2.27a1 1 0 0 1 .478-.125 1 1 0 0 1 .736.342 1 1 0 0 1 .125.958l-1.292 3.35 2.943 2.858a1 1 0 0 1-.367 1.735l-3.892.566-1.734 3.496a1 1 0 0 1-1.794 0l-1.734-3.496-3.892-.566a1 1 0 0 1-.367-1.735l2.943-2.858-1.292-3.35a1 1 0 0 1 .125-.958 1 1 0 0 1 .736-.342z" />
                                            </svg>
                                        </span>
                                        <strong>Aman Shah</strong>
                                    </div>
                                    <div class="testi-text">
                                        As a student, I can't thank Campus Placer enough for the amazing internship
                                        opportunities it offers. The platform is a one-stop-shop for all your internship needs.
                                        It's intuitive, well-organized, and connects students with quality placements. Highly
                                        recommended!
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}